get '/' do
  erb :index, locals: {gossips: Gossip.all}
end
<% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>s
      <% end %>
